:root {
	--main-text: 'Roboto', sans-serif;
	--logo-text: 'Raleway', sans-serif;

	--main-color: #212121;
	--secondary-color: #757575;
	--design-white-color: #ffffff;
	--design-black-color: #000000;
	--icon-color: #afb1b8;
	--accent-color: #2196f3;
	--acc-color-hover: #188ce8;
	--projects-item-color: #eeeeee;
	--bg-color: #2f303a;
	--bg-color-minor: #f5f4fa;

	--timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------- COMMON --------------------- */

body {
	font-family: var(--main-text);
	font-size: 14px;
	line-height: 1.143;
	font-weight: 400;
	letter-spacing: 0.03em;

	color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.logo {
	font-family: var(--logo-text);
	font-size: 26px;
	line-height: 1.192;
	font-weight: 700;
}

.logo--top {
	padding: 24px 0;

	color: var(--design-black-color);
}

.logo--bottom {
	color: var(--design-white-color);
}

.logo--accent {
	color: var(--accent-color);
}

.section-title {
	margin-bottom: 50px;

	text-align: center;
	font-size: 36px;
	font-weight: 700;
}

.social {
	display: flex;
	justify-content: space-between;
}

.social__item {
	width: 44px;
	height: 44px;
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	color: var(--icon-color);
	background-color: transparent;

	transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
}

.social__link:hover,
.social__link:focus {
	color: var(--design-white-color);
	background-color: var(--accent-color);
}

.social__icon {
	width: 20px;
	height: 20px;

	fill: currentColor;
}

/* --------------------- END COMMON --------------------- */

/* --------------------- HEADER --------------------- */

.header > .container {
	display: flex;
	align-items: center;
}

.nav {
	margin-left: 93px;
}

.nav__list {
	display: flex;
}

.nav__item {
	position: relative;
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}

.nav__link {
	display: block;
	padding: 32px 0;

	font-weight: 500;
	letter-spacing: 0.02em;

	transition: color 250ms var(--timing-fn);
}

.nav__link:hover,
.nav-__ink:focus {
	color: var(--accent-color);
}

.nav__link--current {
	color: var(--accent-color);
}

.nav__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent-color);

	transform: scaleX(0);
	transform-origin: left;
	transition: transform 250ms var(--timing-fn);
}

.nav__link:hover.nav__link::after {
	transform: scale(1);
}

.nav__link--current::after {
	transform: scale(1);
}

.header-address {
	display: flex;
	margin-left: auto;
}

.header-address__link {
	display: flex;
	align-items: center;
	padding: 32px 0;

	font-weight: 500;
	letter-spacing: 0.02em;

	color: var(--secondary-color);

	transition: color 250ms var(--timing-fn);
}

.header-address__link:not(:last-child) {
	margin-right: 40px;
}

.header-address__link:hover,
.header-address__link:focus {
	color: var(--accent-color);
}

.header-address__icon {
	margin-right: 10px;

	fill: currentColor;
}

.header-address__link:hover .header-address__icon,
.header-address__link:focus .header-address__icon {
	fill: currentColor;
}

/* --------------------- END HEADER --------------------- */

/* --------------------- HERO --------------------- */

.hero {
	padding: 200px 0;

	background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero/desktop/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1600px;
}

.hero__title {
	padding: 0 237px;

	text-align: center;
	font-size: 44px;
	line-height: 1.364;
	font-weight: 900;
	letter-spacing: 0.06em;
	color: var(--design-white-color);
}

.hero__btn {
	display: block;
	margin: 30px auto 0;
	padding: 0;
	width: 200px;
	height: 50px;
	border-radius: 4px;
	border: none;

	color: var(--design-white-color);
	background-color: var(--accent-color);
	box-shadow: 0 4px 4px 0 RGB(0, 0, 0, 15%);
	cursor: pointer;

	font-family: inherit;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 700;
	letter-spacing: 0.06em;

	transition: background-color 250ms var(--timing-fn);
}

.hero__btn:hover,
.hero__btn:focus {
	background-color: var(--acc-color-hover);
}

/* --------------------- END HERO --------------------- */

/* --------------------- ADVANTAGES --------------------- */

.advantages {
	padding: 94px 0;
}

.advantages__list {
	display: flex;
}

.advantages__item {
	width: 270px;
}

.advantages__item:not(:last-child) {
	margin-right: 30px;
}

.advantages__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;

	background-color: var(--bg-color-minor);
}

.advantages__icon {
	width: 70px;
	height: 70px;
}

.advantages__name {
	padding-bottom: 10px;

	font-size: inherit;
	font-weight: 700;
}

.advantages__text {
	line-height: 1.715;
	color: var(--secondary-color);
}

/* --------------------- END ADVANTAGES --------------------- */

/* --------------------- SERVICES --------------------- */

.services {
	padding-bottom: 94px;
}

.services__list {
	display: flex;
}

.services__item {
	position: relative;
}

.services__item:not(:last-child) {
	margin-right: 30px;
}

.services__desc {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 370px;
	height: 70px;
	padding: 27px 0;

	background-color: rgb(47, 48, 58, 0.8);
}

.services__subject {
	color: var(--design-white-color);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

/* --------------------- END SERVICES --------------------- */

/* --------------------- TEAM --------------------- */

.team {
	padding: 94px 0;

	background: var(--bg-color-minor);
}

.team__list {
	display: flex;
	justify-content: space-between;
}

.team__item {
	padding-bottom: 30px;
	border-radius: 0 0 4px 4px;

	background-color: var(--design-white-color);
	box-shadow: 0 1px 3px 0 RGB(0, 0, 0, 12%), 0 1px 1px 0 RGB(0, 0, 0, 14%),
		0 2px 1px 0 RGB(0, 0, 0, 20%);
}

.team__name {
	margin: 30px 0 10px;

	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.team__desc {
	margin-bottom: 16px;

	text-align: center;
	font-size: 16px;
	color: var(--secondary-color);
}

.social--team {
	width: 206px;
	margin: 0 auto;
}

/* --------------------- END TEAM --------------------- */

/* --------------------- CLIENTS --------------------- */

.clients {
	padding: 94px 0;
}

.clients__list {
	display: flex;
}

.clients__item:not(:last-child) {
	margin-right: 30px;
}

.clients__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 90px;
	border-radius: 4px;
	border: 1px solid var(--icon-color);

	color: var(--icon-color);

	transition: color 250ms var(--timing-fn), border-color 250ms var(--timing-fn);
}

.clients__link:hover,
.clients__link:focus {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.clients__icon {
	width: 106px;
	height: 60px;

	fill: currentColor;
}

/* --------------------- END CLIENTS --------------------- */

/* --------------------- FOOTER --------------------- */

.footer {
	padding: 60px 0;

	background-color: var(--bg-color);
}

.footer .container {
	display: flex;
	align-items: center;
}

.footer-address {
	width: 231px;
	margin-right: 70px;
}

.footer-address__contacts {
	margin-top: 28px;

	font-style: normal;
}

.footer-address__route {
	color: var(--design-white-color);
}

.footer-address__link {
	display: block;
	margin-top: 12px;

	line-height: 1.143;
	color: var(--secondary-color);

	transition: color 250ms var(--timing-fn);
}

.footer-address__link:hover,
.footer-address__link:focus {
	color: var(--accent-color);
}

.footer-social {
	width: 206px;
}

.footer-social__title {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.143;
	text-transform: uppercase;
	color: var(--design-white-color);
}

.social__link--footer {
	color: var(--design-white-color);
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscribe {
	margin-left: auto;
}

.footer-subscribe__title {
	margin-bottom: 20px;

	text-transform: uppercase;
	color: var(--design-white-color);
}

.subscribe-form {
	display: flex;
	align-items: center;
}

.subscribe-form__email {
	width: 358px;
	height: 50px;
	margin-right: 12px;
	padding: 15px 16px;
	border-radius: 4px;
	border: 1px solid rgb(255, 255, 255, 0.3);

	font-size: 16px;
	line-height: 1.25;
	color: var(--design-white-color);
	background-color: transparent;
	box-shadow: 0 4px 4px 0 RGB(0, 0, 0, 15%);
}

.subscribe-form__email:placeholder-shown {
	font-size: 16px;
	line-height: 1.25;
	color: rgb(0, 0, 0, 0.6);
}

.subscribe-form__btn {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	border-radius: 4px;
	border: none;
	padding-left: 43px;
	padding-right: 28px;

	background-color: var(--accent-color);
	color: var(--design-white-color);
	font-size: 16px;
	line-height: 1.188;
	font-weight: 700;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.subscribe-form__icon {
	margin-left: 25px;

	fill: currentColor;
}

/* --------------------- END FOOTER --------------------- */

/* --------------------- MODAL --------------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgb(0, 0, 0, 0.2);
	opacity: 1;

	transition: opacity 250ms var(--timing-fn);
}

.backdrop.is-hidden {
	pointer-events: none;

	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	height: 581px;
	border-radius: 4px;
	padding: 40px;

	background-color: var(--design-white-color);
	box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.12), 0 1px 1px 0 rgb(0, 0, 0, 0.14),
		0 2px 1px 0 rgb(0, 0, 0, 0.2);

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms var(--timing-fn);
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}

.modal__close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;

	color: var(--design-black-color);
	background-color: var(--design-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;

	transition: color 250ms var(--timing-fn);
}

.modal__close-icon {
	width: 18px;
	height: 18px;

	fill: currentColor;
}

.modal-close__button:hover,
.modal-close__button:focus {
	color: var(--accent-color);
}

.modal__title {
	margin-bottom: 30px;

	font-size: 20px;
	line-height: 1.15;
	font-weight: 700;
	text-align: center;
}

.info-form__list {
	margin-bottom: 20px;
}

.info-form__item {
	position: relative;

	margin-bottom: 28px;
}

.info-form__item:last-child {
	margin-bottom: 0px;
}

.info-form__input {
	display: block;
	padding: 11px 12px 11px 42px;
	width: 100%;
	border: 1px solid rgb(33, 33, 33, 20%);
	border-radius: 4px;
	outline: none;

	transition: border-color 250ms var(--timing-fn);
}

.info-form__label {
	position: absolute;
	top: 50%;
	left: 42px;

	display: block;

	color: var(--secondary-color);
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;

	transform: translateY(-50%);
	transition: transform 250ms var(--timing-fn), color 250ms var(--timing-fn);
}

.info-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	fill: var(--main-color);

	transform: translateY(-50%);
	transition: fill 250ms var(--timing-fn);
}

.info-form__input:focus {
	border-color: var(--accent-color);
}

.info-form__input:focus ~ .info-form__icon {
	fill: var(--accent-color);
}

.info-form__input:focus + .info-form__label {
	color: var(--accent-color);

	transform: translate(-42px, -40px);
}

.info-form__input:not(:placeholder-shown) + .info-form__label {
	transform: translate(-42px, -40px);
}

.info-form__textarea {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgb(33, 33, 33, 20%);
	border-radius: 4px;
	outline: none;

	transition: border-color 250ms var(--timing-fn);
}

.info-form__textarea + .info-form__label {
	transform: translate(-42px, -80px);
}

.info-form__textarea:focus {
	border-color: var(--accent-color);
}

.info-form__textarea:placeholder-shown {
	color: rgb(117, 117, 117, 50%);
	letter-spacing: 0.01em;
}

.info-form__textarea:focus + .info-form__label {
	color: var(--accent-color);
}
__ .info-form__checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	line-height: 1.714;
	color: var(--secondary-color);
}

.info-form__checkbox-current {
	margin-right: 8px;
	border-radius: 2px;
	border: 2px solid var(--main-color);

	fill: var(--design-white-color);
	background-color: var(--design-white-color);

	transition: border-width 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
}

.info-form__checkbox-initial:checked + .info-form__checkbox-current {
	border-width: 0px;

	background-color: var(--accent-color);
}

.info-form__btn-conditions {
	padding: 0;
	margin-left: 4px;
	border: none;

	color: var(--accent-color);
	text-decoration: underline;
	background-color: transparent;
	cursor: pointer;
}

.info-form__button {
	display: block;
	width: 200px;
	height: 50px;
	padding: 0;
	margin: 0 auto;
	border: none;
	border-radius: 4px;

	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: var(--design-white-color);
	background-color: var(--accent-color);

	transition: background-color 250ms var(--timing-fn);
}

.info-form__button:hover,
.info-form__button:focus {
	background-color: var(--acc-color-hover);
}

/* --------------------- END MODAL --------------------- */

/* --------------------- PORTFOLIO --------------------- */

.portfolio {
	padding: 94px 0;
	border-top: 1px solid #ececec;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.buttons__item:not(:last-child) {
	margin-right: 8px;
}

.buttons__snap {
	display: block;
	padding: 6px 23px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	font-family: inherit;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
	background-color: #f5f4fa;

	transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn),
		box-shadow 250ms var(--timing-fn);
}

.buttons__snap:hover,
.buttons__snap:focus {
	color: var(--design-white-color);
	background-color: var(--accent-color);
	box-shadow: 0 4px 1px 0px RGB(0, 0, 0, 10%), 0 1px 2px 0px RGB(0, 0, 0, 8%),
		0 2px 2px 0px RGB(0, 0, 0, 12%);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	width: calc((100%-2 * 30px) / 3);
}

.projects__link {
	display: block;

	transition: box-shadow 250ms var(--timing-fn);
}

.projects__link:hover,
.projects__link:focus {
	box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.12), 0 4px 4px 0 rgb(0, 0, 0, 0.06),
		1px 4px 6px 0 rgb(0, 0, 0, 0.16);
}

.projects__wrapper {
	position: relative;
}

.projects__wrapper.overflow-hidden {
	overflow: hidden;
}

.projects__overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 370px;
	height: 294px;
	padding: 24px;

	background-color: rgb(33, 150, 243, 0.9);
}

.projects__overlay--web {
	transform: translateY(100%);
	transition: transform 250ms var(--timing-fn);
}

.projects__link:hover .projects__overlay--web,
.projects__link:focus .projects__overlay--web {
	transform: translateY(0%);
}

.projects__overlay--design {
	transform: rotateZ(0deg) scale(0);
	transition: transform 500ms var(--timing-fn);
}

.projects__link:hover .projects__overlay--design,
.projects__link:focus .projects__overlay--design {
	transform: rotateZ(360deg) scale(1);
}

.projects__overlay--apps {
	transform: perspective(350px) rotateY(180deg);
	opacity: 0;
	transition: transform 500ms var(--timing-fn), opacity 500ms var(--timing-fn);
}

.projects__link:hover .projects__overlay--apps,
.projects__link:focus .projects__overlay--apps {
	transform: rotateY(360deg);
	opacity: 1;
}

.projects__overlay--marketing {
	transform: scale(0);
	transition: transform 500ms var(--timing-fn);
}

.projects__link:hover .projects__overlay--marketing,
.projects__link:focus .projects__overlay--marketing {
	transform: scale(1);
}

.projects__details {
	font-size: 18px;
	line-height: 1.556;
	color: var(--design-white-color);
}

.projects__desc-wrap {
	padding: 20px 24px;
	border-right: 1px solid var(--projects-item-color);
	border-bottom: 1px solid var(--projects-item-color);
	border-left: 1px solid var(--projects-item-color);
}

.projects__name {
	margin-bottom: 4px;

	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
}

.projects__desc {
	font-size: 16px;
	line-height: 1.875;
	color: var(--secondary-color);
}

/* --------------------- END PORTFOLIO --------------------- */
