:root {
	--main-text: 'Roboto', sans-serif;
	--logo-text: 'Raleway', sans-serif;
	--main-color: #212121;
	--secondary-color: #757575;
	--design-white-color: #ffffff;
	--design-black-color: #000000;
	--icon-color: #afb1b8;
	--accent-color: #2196f3;
	--portfolio-item-color: #eeeeee;
	--bg-color: #2f303a;
	--bg-color-minor: #f5f4fa;
}

/* --------------------- COMMON --------------------- */

body {
	font-family: var(--main-text);
	font-size: 14px;
	line-height: 1.143;
	font-weight: 400;
	letter-spacing: 0.03em;

	color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;

	/* border: 1px dashed rgb(255, 0, 230); */
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.logo {
	font-family: var(--logo-text);
	font-size: 26px;
	line-height: 1.192;
	font-weight: 700;
}

.logo-top {
	padding: 24px 0;
	color: var(--design-black-color);
}

.logo-bottom {
	display: block;

	color: var(--design-white-color);
}

.logo-accent {
	color: var(--accent-color);
}

.section-title {
	margin-bottom: 50px;

	text-align: center;
	font-size: 36px;
	font-weight: 700;
}

/* --------------------- END COMMON --------------------- */

/* --------------------- HEADER --------------------- */

.header > .container {
	display: flex;
}

.nav {
	margin-left: 93px;
}

.nav-list {
	display: flex;
}

.nav-item {
	position: relative;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	display: block;
	padding: 32px 0;

	font-weight: 500;
	letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-link-current {
	color: var(--accent-color);
}

.nav-link-current::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent-color);
}

.header-address {
	display: flex;
	margin-left: auto;
}

.header-address-link {
	display: flex;
	align-items: center;
	padding: 32px 0;

	font-weight: 500;
	letter-spacing: 0.02em;

	color: var(--secondary-color);
}

.header-address-link:not(:last-child) {
	margin-right: 40px;
}

.header-address-link:hover,
.header-address-link:focus {
	color: var(--accent-color);
}

.header-address-icon {
	margin-right: 10px;

	fill: currentColor;
}

.header-address-link:hover .header-address-icon,
.header-address-link:focus .header-address-icon {
	fill: currentColor;
}

/* --------------------- END HEADER --------------------- */

/* --------------------- HERO --------------------- */

.hero {
	padding: 200px 0;

	background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero/desktop/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1600px;
}

.hero-title {
	padding: 0 237px;
	text-align: center;

	font-size: 44px;
	line-height: 1.364;
	font-weight: 900;
	letter-spacing: 0.06em;
	color: var(--design-white-color);
}

.hero-btn {
	display: block;
	margin: 30px auto 0;
	padding: 0;

	width: 200px;
	height: 50px;
	border-radius: 4px;
	border: none;
	box-shadow: 0 4px 4px 0 RGB(0, 0, 0, 15%);
	cursor: pointer;

	font-family: inherit;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 700;
	letter-spacing: 0.06em;
	background-color: var(--accent-color);
	color: var(--design-white-color);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: #188ce8;
}

/* --------------------- END HERO --------------------- */

/* --------------------- ADVANTAGES --------------------- */

.advantages {
	padding: 94px 0;
}

.advantages-list {
	display: flex;
	/* padding: 94px 0; */
}

.advantages-item {
	width: 270px;
}

.advantages-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;

	background-color: var(--bg-color-minor);
}

.advantages-icon {
	width: 70px;
	height: 70px;
}

.advantages-name {
	padding-bottom: 10px;

	font-size: inherit;
	font-weight: 700;
}

.advantages-text {
	line-height: 1.715;
	color: var(--secondary-color);
}

/* --------------------- END ADVANTAGES --------------------- */

/* --------------------- SERVICES --------------------- */

.services {
	padding-bottom: 94px;
}

.services-list {
	display: flex;
}

.services-item {
}

.services-item:not(:last-child) {
	margin-right: 30px;
}

.services-img {
}

/* --------------------- END SERVICES --------------------- */

/* --------------------- TEAM --------------------- */

.team {
	padding: 94px 0;
	background: var(--bg-color-minor);
}

.team-list {
	display: flex;
	justify-content: space-between;
}

.team-item {
	border-radius: 0 0 4px 4px;

	background-color: var(--design-white-color);
	box-shadow: 0 1px 3px 0 RGB(0, 0, 0, 12%), 0 1px 1px 0 RGB(0, 0, 0, 14%),
		0 2px 1px 0 RGB(0, 0, 0, 20%);
}

.team-name {
	margin: 30px 0 10px;

	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.team-desc {
	margin-bottom: 16px;

	text-align: center;
	font-size: 16px;
	color: var(--secondary-color);
}

.team-social-list {
	display: flex;
	margin-bottom: 30px;
	padding: 0 32px;
}

.team-social-item {
	width: 44px;
	height: 44px;
}

.team-social-item:not(:last-child) {
	margin-right: 10px;
}

.team-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	color: var(--icon-color);
}

.team-social-link:hover,
.team-social-link:focus {
	color: var(--design-white-color);
	background-color: var(--accent-color);
}

.team-social-icon {
	width: 20px;
	height: 20px;

	fill: currentColor;
}

/* --------------------- END TEAM --------------------- */

/* --------------------- CLIENTS --------------------- */

.clients {
	padding: 94px 0;
}

.clients-list {
	display: flex;
}

.clients-item:not(:last-child) {
	margin-right: 30px;
}

.clients-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 90px;
	border-radius: 4px;
	border: 1px solid var(--icon-color);

	color: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.clients-icon {
	width: 106px;
	height: 60px;

	fill: currentColor;
}

/* --------------------- END CLIENTS --------------------- */

/* --------------------- FOOTER --------------------- */

.footer {
	padding: 60px 0;

	background-color: var(--bg-color);
}

.footer .container {
	display: flex;
	align-items: center;
}

.footer-address-wrap {
	width: 231px;
	margin-right: 70px;
}

.footer-contacts {
	margin-top: 28px;
	font-style: normal;
}

.footer-address {
	color: var(--design-white-color);
}

.footer-address-link {
	display: block;
	margin-top: 12px;

	line-height: 1.143;
	color: var(--secondary-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
	color: var(--accent-color);
}

.footer-social {
	width: 206px;
}

.footer-social-title {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.143;
	text-transform: uppercase;
	color: var(--design-white-color);
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
}

.footer-social-item {
	width: 44px;
	height: 44px;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	background-color: rgba(255, 255, 255, 0.1);
	color: var(--design-white-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--accent-color);
}

.footer-social-icon {
	width: 20px;
	height: 20px;

	fill: currentColor;
}

/* --------------------- END FOOTER --------------------- */

/* --------------------- PORTFOLIO --------------------- */

.portfolio {
	padding: 94px 0;
	border-top: 1px solid #ececec;
}

.portfolio-btn-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
	margin-right: 8px;
}

.portfolio-btn {
	display: block;
	padding: 6px 23px;

	border-radius: 4px;
	border: none;
	cursor: pointer;

	font-family: inherit;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
	background-color: #f5f4fa;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	box-shadow: 0 4px 1px 0px RGB(0, 0, 0, 10%), 0 1px 2px 0px RGB(0, 0, 0, 8%),
		0 2px 2px 0px RGB(0, 0, 0, 12%);
	background-color: var(--accent-color);
	color: var(--design-white-color);
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	flex-basis: calc((100%-2 * 30px) / 3);
}

/* .portfolio-item {
}

.portfolio-img {
} */

.portfolio-desc-wrap {
	padding: 20px 24px;

	border-right: 1px solid var(--portfolio-item-color);
	border-bottom: 1px solid var(--portfolio-item-color);
	border-left: 1px solid var(--portfolio-item-color);
}

.portfolio-name {
	margin-bottom: 4px;

	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-desc {
	font-size: 16px;
	line-height: 1.875;
	color: var(--secondary-color);
}

/* --------------------- END PORTFOLIO --------------------- */
