.advantages {
	padding: 60px 0;

	@media screen and (min-width: 1200px) {
		padding: 94px 0;
	}
}

.advantages__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.advantages__item {
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 3 * 30px) / 4);
	}
}

.advantages__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;

	background-color: var(--bg-color-minor);
}

.advantages__icon {
	width: 70px;
	height: 70px;
}

.advantages__name {
	padding-bottom: 10px;

	font-size: inherit;
	font-weight: 700;
}

.advantages__text {
	line-height: 1.715;
	color: var(--secondary-color);
}
