.footer {
	padding: 60px 0;

	background-color: var(--bg-color);

	@media screen and (max-width: 1199px) {
		text-align: center;
	}

	.container {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
		}

		@media screen and (min-width: 1200px) {
			justify-content: space-between;
		}
	}
}

.footer-address__contacts {
	margin-top: 28px;

	font-style: normal;
}

.footer-address__route {
	color: var(--design-white-color);
}

.footer-address__link {
	display: block;
	margin-top: 12px;

	line-height: 1.143;
	color: var(--secondary-color);

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-address,
.footer-social {
	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: 50%;
	}
}

.footer-social__title,
.footer-subscribe__title {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.143;
	text-transform: uppercase;
	color: var(--design-white-color);
}

.footer-subscribe {
	// margin-left: auto;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: 60px;
		width: 100%;
	}
}

.subscribe-form {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.subscribe-form__email {
	width: 100%;
	height: 50px;
	padding: 15px 16px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	font-size: 16px;
	line-height: 1.25;
	color: var(--design-white-color);
	background-color: transparent;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 15%);

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		color: rgba(250, 250, 250, 0.6);
	}

	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
	}
}

.subscribe-form__btn {
	@extend %main-button;

	display: flex;
	align-items: center;
	padding-left: 43px;
	padding-right: 28px;

	@media screen and (max-width: 1199px) {
		margin: 20px auto 0;
	}
}

.subscribe-form__icon {
	margin-left: 25px;

	fill: currentColor;
}
