.hero {
	padding: 118px 0;

	background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../../images/hero/mob/hero-m.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 480px;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/mob/hero-m@2x.jpg);
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/tablet/hero-t.jpg);
		background-size: 768px;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero/tablet/hero-t@2x.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		padding: 200px 0;

		background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero/desktop/hero-d.jpg);
		background-size: 1600px;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../../images/hero/desktop/hero-d@2x.jpg);
		}
	}
}

.hero__title {
	padding: 0 45px;

	font-size: 26px;
	text-align: center;
	line-height: 1.615;
	font-weight: 900;
	letter-spacing: 0.06em;
	color: var(--design-white-color);

	@media screen and (max-width: 479px) {
		// padding: 0 9.375vw;
		padding: 0 8vw;

		// font-size: 5.417vw;
		font-size: 6vw;
	}

	@media screen and (min-width: 768px) {
		padding: 0 189px;
	}

	@media screen and (min-width: 1200px) {
		padding: 0 237px;

		font-size: 44px;
		line-height: 1.364;
	}
}

.hero__btn {
	@extend %main-button;

	margin: 30px auto 0;
}
