.info-form__list {
	margin-bottom: 20px;
}

.info-form__item {
	position: relative;

	margin-bottom: 28px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.info-form__input {
	display: block;
	padding: 11px 12px 11px 42px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 20%);
	border-radius: 4px;
	outline: none;

	transition: border-color 250ms var(--timing-fn);

	&:focus {
		border-color: var(--accent-color);
	}
}

.info-form__label {
	position: absolute;
	top: 50%;
	left: 42px;

	display: block;

	color: var(--secondary-color);
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;

	transform: translateY(-50%);
	transition: transform 250ms var(--timing-fn), color 250ms var(--timing-fn);

	.info-form__input:focus + & {
		color: var(--accent-color);

		transform: translate(-42px, -40px);
	}

	.info-form__input:not(:placeholder-shown) + & {
		transform: translate(-42px, -40px);
	}

	.info-form__textarea + & {
		transform: translate(-42px, -80px);
	}

	.info-form__textarea:focus + & {
		color: var(--accent-color);
	}
}

.info-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	fill: var(--main-color);

	transform: translateY(-50%);
	transition: fill 250ms var(--timing-fn);

	.info-form__input:focus ~ & {
		fill: var(--accent-color);
	}
}

.info-form__textarea {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 20%);
	border-radius: 4px;
	outline: none;

	transition: border-color 250ms var(--timing-fn);

	&:focus {
		border-color: var(--accent-color);
	}

	&::placeholder {
		color: rgba(117, 117, 117, 50%);
		letter-spacing: 0.01em;
	}
}

.info-form__checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	font-size: 12px;
	line-height: 1.167;
	color: var(--secondary-color);

	@media screen and (max-width: 479px) {
		font-size: 2.5vw;
	}

	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.714;
	}
}

.info-form__checkbox-current {
	margin-right: 8px;
	border-radius: 2px;
	border: 2px solid var(--main-color);

	fill: var(--design-white-color);
	background-color: var(--design-white-color);

	transition: border-width 250ms var(--timing-fn), background-color 250ms var(--timing-fn);

	.info-form__checkbox-initial:checked + & {
		border-width: 0px;

		background-color: var(--accent-color);
	}
}

.info-form__btn-conditions {
	padding: 0;
	border: none;

	color: var(--accent-color);
	text-decoration: underline;
	background-color: transparent;
	cursor: pointer;
}

.info-form__button {
	@extend %main-button;

	margin: 0 auto;
}
