.mob-menu {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 50px 24px 20px;
	overflow-y: scroll;

	background-color: var(--design-white-color);
	opacity: 1;

	transition: opacity 250ms var(--timing-fn);

	&.is-hidden {
		pointer-events: none;

		opacity: 0;
	}
}

.mobmenu__button {
	position: absolute;
	top: 10px;
	right: 15px;

	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;

	color: var(--main-color);
	background-color: transparent;
	cursor: pointer;

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobmenu__button-icon {
	fill: currentColor;
}

.mob-nav__item {
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

.mob-nav__link {
	font-size: 26px;
	line-height: 1.175;
	font-weight: 500;
	letter-spacing: 0.02em;

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.mob-address {
	margin-bottom: 30px;

	text-align: center;

	@media screen and (min-width: 375px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.mob-address__link {
	display: block;

	font-size: 16px;
	line-height: 1.167;
	font-weight: 500;
	letter-spacing: 0.02em;

	color: var(--secondary-color);

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.mob-social {
	display: flex;
	justify-content: center;
}

.mob-social__item {
	&:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
}

.mob-social__link {
	padding: 0 2.1vw;

	color: var(--accent-color);
}
